# Ignorar archivos de entorno virtual
venv/
env/
.venv/
pdfs/
/src/certificates
# Ignorar archivos de configuración de IDE
.vscode/
.idea/

# Ignorar archivos compilados de Python
__pycache__/
*.py[cod]
*$py.class

# Ignorar archivos de distribución y build
dist/
build/
*.egg-info/
*.egg

# Ignorar archivos de caché y logs
*.log
.pytest_cache/
.coverage

# Ignorar archivos de configuración local
*.local
*.sqlite3
*.db

.ipynb_checkpoints/
.env
.env.local

prompt_generao.txt


db/texts

/firebase.json